#root {
  margin: 0;
  
}

.container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 7rem;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  justify-content: space-evenly;
}

.question {
  row-gap: 1rem;
  background-color: #13151d;
}

.question h3 {
  color: #f9f9f9;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: lighter;
  transition: 1s;
}

.question p {
  margin: 0;
  text-align: left;
  white-space: pre-line;
  line-height: 1.2cm;
  padding: 0 2rem 1rem 2rem;
  transition: .5s;

}

.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: var(--clr-grey-special);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--clr-red-special);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

.question-title {
  cursor: pointer;
}

.text-center {
  padding: 2rem;
  text-align: center;
}

section {
  margin-top: 3rem;
}

.menus {
  display: flex;
  justify-content: center;
}

.container__img {
  display: grid;
  padding: 1rem;
}
.set {
  display: flex;
}
.link__assinatura a {
  color: #ffff;
  display: block;
  text-decoration: underline;
}

.active{
  text-decoration: underline;
}
.no-active{
  text-decoration: none;
}