#root {
  margin: 0;

}

.menus {
  display: flex;
  justify-content: center;
}

.container__img {
  width: 100%;
  display: block;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .container__img {}
}

.set {
  display: flex;
  gap: 0.7rem;
}

.link__assinatura {
  margin-top: 1rem;
}

.link__assinatura a {
  color: #ffff;
  display: block;
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.no-active {
  text-decoration: none;
}