#root {
  margin: 0;

}

.menus {
  display: flex;
  justify-content: center;
}

.container__img {
  display: grid;
  padding: 1rem;
}

.set {
  display: flex;
}

.link__assinatura a {
  color: #ffff;
  display: block;
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.no-active {
  text-decoration: none;
}