html {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;

}

@font-face {
  font-family: Avenir;
  src: url(https://static-assets.bamgrid.com/fonts/avenir-world/AvenirWorld-Demi.46e9d5864ff91e13275000330f3c2b74.woff2);
}


a {
  color: #646cff;
  text-decoration: inherit;

}

section {
  margin: 0;
}

.nav {
  display: flex;
  list-style: none;

  text-align: center;
  justify-content: center;
  letter-spacing: .07rem;
}

.nav li {
  padding: .5rem;

}

footer {
  text-align: center;
  font-size: .7rem;
}